{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}
{% load staticfiles %}

{% block content %}

		<script type="text/javascript" src="{% static "aggregate_health/dashboard.js" %}"></script>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-5 col-sm-offset-1">
			<div class="panel panel-default">
	  			<div class="panel-heading">Favorite Alerts</div>
	  			{% for i in tableloop %}
	 				<div class="panel-body"><a href="#"><span class="glyphicon glyphicon-remove" style="padding-right: 10px" onclick="removeElement()"></a></span>Panel Content</div>
	 			{% endfor %}
 			</div>
 		</div>
 		<div class="col-sm-5">
			<div class="panel panel-default">
	  			<div class="panel-heading">Alert Analytics</div>
	 			<div class="panel-body">Panel Content</div>
 			</div>
 		</div>
	</div>
	<div class="row">
		<div class="col-sm-5 col-sm-offset-1">
			<div class="panel panel-default">
	  			<div class="panel-heading">Favorite Reports</div>
	  			{% for i in tableloop %}
	 				<div class="panel-body"><a href="#"><span class="glyphicon glyphicon-remove" style="padding-right: 10px"></a></span>Panel Content</div>
	 			{% endfor %}
 			</div>
 		</div>
 		<div class="col-sm-5">
			<div class="panel panel-default">
	  			<div class="panel-heading">Report Quick Look</div>
	 			<div class="panel-body">Panel Content</div>
 			</div>
 		</div>
	</div>
</div>
{% endblock %}