{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-5 col-sm-offset-1">
			<div class="panel panel-default">
	  			<div class="panel-heading">Favorite Alerts</div>
	 			<div class="panel-body"><span class="glyphicon glyphicon-remove"></span>Panel Content</div>
	 			<div class="panel-body">Panel Content</div>
	 			<div class="panel-body">Panel Content</div>
	 			<div class="panel-body">Panel Content</div>
	 			<div class="panel-body">Panel Content</div>
 			</div>
 		</div>
 		<div class="col-sm-5">
			<div class="panel panel-default">
	  			<div class="panel-heading">Alert Analytics</div>
	 			<div class="panel-body">Panel Content</div>
 			</div>
 		</div>
	</div>
	<div class="row">
		<div class="col-sm-5 col-sm-offset-1">
			<div class="panel panel-default">
	  			<div class="panel-heading">Favorite Reports</div>
	 			<div class="panel-body">Panel Content</div>
	 			<div class="panel-body">Panel Content</div>
	 			<div class="panel-body">Panel Content</div>
	 			<div class="panel-body">Panel Content</div>
	 			<div class="panel-body">Panel Content</div>
 			</div>
 		</div>
 		<div class="col-sm-5">
			<div class="panel panel-default">
	  			<div class="panel-heading">Report Quick Look</div>
	 			<div class="panel-body">Panel Content</div>
 			</div>
 		</div>
	</div>
</div>
{% endblock %}